{% extends 'base.html' %}

{% block content %}

<div class="row pl-4">
    <h1>{{problem.name}}</h1>
</div>

<div class="row pl-4">
    <p>
        {% autoescape off %}
        {{problem.description_html}}
        {% endautoescape %}
    </p>
</div>

<div style="padding-left: 6%;">
    <p>
        <h3>Test Cases</h3>
    </p><hr>
    <p>
        <h4>Input</h4>
    </p><hr>
    <pre>
        {{ problem.Input }}
    </pre><hr>
    <p>
        <h4>Output</h4>
    </p><hr>
    <pre>
        {{ problem.Output }}
    </pre><hr>
</div>


<div>
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />

    <div class="container">
        <div id="topbar">
            <div class="lang-choose">
                <select class="form-control" name="lang" id="lang">
                    <option value="C">C (gcc 4.8.4)</option>
                    <option value="C++">C++ (g++ 4.8.4)</option>
                    <option value="C#">C# (mono 3.2.8)</option>
                    <option value="Go">Go (go 1.4.2)</option>
                    <option value="Haskell">Haskell (ghc 7.4.1)</option>
                    <option value="Java">Java (openjdk 1.7.0_09)</option>
                    <option value="JavaScript">JavaScript (Rhino 1.7)</option>
                    <option value="Common Lisp">Lisp (csc 4.8.0.5)</option>
                    <option value="Pascal">Pascal (fpc 2.6.2)</option>
                    <option value="PHP">PHP (php 5.5.9)</option>
                    <option value="Python2">Python (python 2.7.6)</option>
                    <option value="Python3" selected>Python (python 3)</option>
                    <option value="Ruby">Ruby (ruby 2.1.1)</option>
                    <option value="Rust">Rust (rustc 1.4.0)</option>
                    <option value="Plain Text">Text</option>
                </select>

            </div> 
            <div id="settings">
                <div class="theme-choose">
                    <select class="form-control" name="theme" id="theme">
                        <option value="Light" selected>Light</option>
                        <option value="Monokai">Monokai</option>
                        <option value="Solarised Light">Solarised Light</option>
                        <option value="Twilight">Twilight</option>
                    </select>
                </div> 
                <!-- <a class="" id="download">
                    download code
                    <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                </a> -->
            </div>
        </div>
        
        <pre id="editor" style="height: 300px"></pre>

        <div id="editor-statusbar">
        </div>


        <div class="row">{% csrf_token %}
            <div id="showres">
                <div class="pull-left user-input-area">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="user-input"> Use custom input for testing your code
                        </label>
                    </div>
                </div>

                <div style="margin-left:85.4%;"class="run-save-panel">
                    <button class="btn btn-success" id="runcode"  data-toggle="tooltip" data-placement="top" title="Compile and Run">Compile and Run</button>
                </div>
            </div>
        </div> 

        <div class="row">
            <div class="input-container">
                <textarea id="custom-input" class="input-textarea" placeholder="Write inputs to program."></textarea>
            </div>
        </div> 
        <div class="outputbox">

            <div class="outputio">
                <div class="outputerror">
                    <div class="errorkey"></div>
                    <pre class="errormessage"></pre>
                </div>
                <div class="io-show">
                    <b>Output</b>
                    <pre class="output-text outputo"> </pre>
                    <b>Input</b>
                    <pre class="output-text outputi"> </pre>
                </div>
            </div>

            <div class="output-details">
                <div class="correct log-details">
                    <b>Log Details:</b>
                    <div id="demo"></div>
                    <script type="text/javascript">
                        var myDate = new Date();
                        var hours = myDate.getHours();
                        var minutes = myDate.getMinutes();
                        var ampm = hours >= 12 ? 'pm' : 'am';
                        hours = hours % 12;
                        hours = hours ? hours : 12;
                        minutes = minutes < 10 ? '0'+minutes : minutes;
                        var strTime = hours + ':' + minutes + ampm;
                        document.getElementById("demo").innerHTML = myDate.getDate()+"/"+(parseInt(myDate.getMonth())+1).toString()+"/"+myDate.getFullYear()+" at "+strTime;
                    </script>
                </div>
                <div class="correct time">
                    <b>Time (sec)</b>
                    <div class="value"></div>
                </div>
                <div class="correct memory">
                    <b>Memory (KB)</b>
                    <div class="value"></div>
                </div>
                <div class="correct runstat">
                    <b>Run Status</b>
                    <div class="value"></div>
                </div>
                <div class="correct compilestat">
                    <b>Compile Status</b>
                    <div class="value"></div>
                </div>
            </div>
        </div>
    </div> 

    <footer class="container">
        <span class="pull-right"> Copyright © 2019 Himanshu Dhiman</span>
    </footer>
</div>

{% endblock %}