{% extends 'base.html' %}

{% block content %}

<div class="row pl-4">
    <h1>{{problem.name}}</h1>
</div>

<div class="row pl-4">
    <p>
        {% autoescape off %}
            {{problem.description_html}}
        {% endautoescape %}
    </p>
</div>


<div id="editor" style="size: 300px">function foo(items) {
        var x = "All this is syntax highlighted";
        return x;
    }</div>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.5/ace.js" type="text/javascript" charset="utf-8"></script>
    <script>
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/monokai");
        editor.session.setMode("ace/mode/javascript");
    </script>

{% endblock %}